
<footer>
    <p>Developed by VTEX's Localization Team - 2024</p>
    <p>To provide feedback please use the slack channel <a href="https://vtex.enterprise.slack.com/archives/C03M28QG82U">#product-localization</a></p>
</footer>